
html {  
  background: url(images/b.jpg)
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 20px;
  text-align: center;
  color:white;
}

ul {
    list-style-type: none;
    padding: 0;

}

a {
    display: block;
    padding: 9px 10px 5px 10px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

ul#navigation li a {
 display: block;
  width: 8em;
  color: #FFF;
  background-color: #036;
  padding: .8em 0;
text-align: center;
text-decoration: none;

}

ul#navigation li a:hover
{
color: #FFF;
background-color: #69C;
}

ul#navigation .left
{
float: left;
width: 5em;
}
