@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900);

html{

    background: url(images/b.jpg)
    no-repeat center center fixed; 
    text-align: center; 
}

#question{

  font-family:'Cinzel Decorative';
  color:#f7f7f7; 
  text-shadow: 2px 2px #0d0f14;
  font-size: 30px;

}

#voting {
  font-family:'Arial';
  color:#f7f7f7;
  text-shadow: 2px 2px #0d0f14;
  font-size: 15px;

}

img {

border-radius: 63px;
border-color: blue;
}
input[type="button"]{
  margin-left: 0.5em;
  height: 1.5em;
  padding: 0.2em 1.9em 1.4em 2.15em;
  font-size: 19px;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #f7f7f7;
  background: url(https://i.imgur.com/Th606mh.png) no-repeat scroll 0.75em 0.07em transparent;
  background-size: 14px 55px;
  border-radius: 2em;
  border: 0.15em solid #f7f7f7;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

input[type="button"]:hover {
    color: #fff;
    background-color: #0d0f14;
    border-color: #0d0f14;
    background-position: 0.75em bottom;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input[type="button"]:focus {
    background-position: 2em -4em;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* Webfonts */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

ul#navigation li a {
-webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   border-radius: 24px;
 display: block;
  width: 8em;
  color: #FFF;
  background-color: #036;
   padding: 6.5px 6px;
   font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
text-align: center;
text-decoration: none;

}

ul#navigation li a:hover
{
color: #FFF;
background-color: #69C;
}

ul#navigation .left
{
float: left;
width: 5em;
}